<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/scaleofchange.css">
    <script src="js/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="wrapper" @mousemove="eventMoveMD({x: $event.pageX})" @mouseleave="initEventMove=false">
        <div class="cont">
            <p class="title">за м<sup class="sup">2</sup></p>
        </div>
        <div class="cont"><p class="price">&#x20bd</p></div>
        <div class="cont">
            <div class="overscale" @click="eventMove({x: $event.pageX})">
                <div class="row scale_wrap" v-on="createItems">
                    <div class="scale">
                        <div class="band" :class="[item.class]" v-for="item in items" :key="item.id"
                             :data-id="item.id"></div>
                    </div>
                    <div class="scale_active" :style="{width: leftSize + '%'}">
                        <div class="scale">
                            <div class="band band_active" :class="[item.class]" v-for="item in items" :key="item.id"
                                 :data-id="item.id"></div>
                        </div>
                    </div>
                    <div class="point" :style="{left: leftSize + '%'}"
                         @mousedown="initEventMove = true"
                         @mouseup="initEventMove = false"></div>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="row">
                <div class="month" :class="{'month_active': item.min<leftSize && leftSize<= item.max}"
                     v-for="item in months" :key="item.id">{{item.month}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            parentCoord: 50,
            initEventMove: false,
            leftSize: 50,
            months: [
                {id:0, month: "январь", min: 0, max: 10},
                {id:1, month: "февраль", min: 10, max: 18},
                {id:2, month: "март", min: 18, max: 26},
                {id:3, month: "апрель", min: 26, max: 34},
                {id:4, month: "май", min: 34, max: 42},
                {id:5, month: "июнь", min: 42, max: 50},
                {id:6, month: "июль", min: 50, max: 58},
                {id:7, month: "август", min: 58, max: 66},
                {id:8, month: "сентабрь", min: 66, max: 74},
                {id:9, month: "октябрь", min: 74, max: 82},
                {id:10, month: "ноябрь", min: 82, max: 90},
                {id:11, month: "декабрь", min: 90, max: 100},
            ],
            prices:{
                0: 66000,
                1: 66100,
                2: 66200,
                3: 66300,
                4: 66400,
                5: 66500,
                6: 66600,
                7: 66700,
                8: 66800,
                9: 66900,
                10: 67000,
                11: 67100
            },
            items: [],
            count: 100,
            show: false,
        },
        computed: {
            createItems() {
                for (let i = 0; i < this.count; i++) {
                    if (i === 49) {
                        this.items.push({id: i + 1});
                    } else if (i == 48) {
                        this.items.push({id: i + 1});
                    } else if (i == 50) {
                        this.items.push({id: i + 1});
                    } else {
                        this.items.push({id: i + 1});
                    }
                }
                this.getParentCoord;

            },
            getParentCoord() {
                var scale = document.querySelector('.scale');
                this.parentCoord = scale.getBoundingClientRect(scale);
                console.log(this.parentCoord)
            },

        },
        methods: {
            eventMove(obj) {
                var coord = Math.round((obj.x - this.parentCoord.left) / this.parentCoord.width * 100);
                if (coord > 100) {
                    this.leftSize = 100;
                } else if (coord <= 0) {
                    this.leftSize = 1;
                } else {
                    this.leftSize = coord;
                }
            },
            resize() {
                this.getParentCoord;
            },
            eventMoveMD(obj) {
                if (this.initEventMove) {
                    this.eventMove(obj)
                }
            }
        },
        watch: {
            leftSize() {
                console.log('leftSize изменился');
            }
        }

    });
</script>
</body>
</html>