<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/scaleofchange.css">
    <script src="js/vue.js"></script>
</head>
<body>

<div id="app">
    <div class="wrapper" v-on:mousemove="eventMoveMD({x: $event.pageX})" v-on:mouseleave="initEventMove=false">
        <div class="cont">
            <p class="title">за квадратный метр</p>
        </div>
        <div class="cont"><p class="price">66800 &#x20bd</p></div>
        <div class="cont">
            <div class="overscale" v-on:click="eventMove({x: $event.pageX})">
                <div class="row scale_wrap" v-on="createItems">
                    <div class="scale">
                        <div class="band" :class="[item.class]" v-for="item in items" :key="item.id"
                             v-bind:data-id="item.id"></div>
                    </div>
                    <div class="scale_active" :style="{width: leftSize + '%'}">
                        <div class="scale">
                            <div class="band band_active" :class="[item.class]" v-for="item in items" :key="item.id"
                                 v-bind:data-id="item.id"></div>
                        </div>
                    </div>
                    <div class="point" :style="{left: leftSize + '%'}"
                         v-on:mousedown="initEventMove = true"
                         v-on:mouseup="initEventMove = false"></div>
                </div>
            </div>
        </div>
        <div class="cont">
            <div class="row">
                <div class="month" v-for="month in months">{{month}}</div>
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            parentCoord: 50,
            initEventMove: false,
            leftSize: 50,
            months: {
                1: "январь",
                2: "февраль",
                3: "март",
                4: "апрель",
                5: "май",
                6: "июнь",
                7: "июль",
                8: "август",
                9: "сентабрь",
                10: "октябрь",
                11: "ноябрь",
                12: "декабрь",
            },
            items: [],
            count: 100,
            show: false,
        },
        computed: {
            createItems() {
                for (let i = 0; i < 100; i++) {
                    if (i === 49) {
                        this.items.push({id: i + 1});
                    } else if (i == 48) {
                        this.items.push({id: i + 1});
                    } else if (i==50) {
                        this.items.push({id: i + 1});
                    } else {
                        this.items.push({id: i + 1});
                    }
                }
                this.getParentCoord;

            },
            getParentCoord() {
                var scale = document.querySelector('.scale');
                this.parentCoord = scale.getBoundingClientRect(scale);
                console.log(this.parentCoord)
            },

        },
        methods: {
            eventMove(obj) {
                    var coord = Math.round((obj.x - this.parentCoord.left) / this.parentCoord.width * 100);
                    if (coord > 100) {
                        this.leftSize = 100;
                    } else if (coord <= 0) {
                        this.leftSize = 1;
                    } else {
                        this.leftSize = coord;
                    }
            },
            resize() {
                this.getParentCoord;
            },
            eventMoveMD(obj) {
                if (this.initEventMove) {
                    this.eventMove(obj)
                }
            }
        }

    });
</script>
</body>
</html>